

.schedule-page-container{
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // margin-top: 83px;
}
@media (max-width: 768px) {
    .schedule-page-container{
        height: 100%;
        background-size: 100% 74%;        
        background-repeat: no-repeat;
    }
}