.shuttles-page-container {
  padding: 90px 90px 0 90px;
  font-family: 'Aboreto', cursive;
  background-size: cover;
}

.shuttles-page-container .shuttles-title {
  font-family: 'Allura', cursive;
  font-size: 5em;
}

@media (max-width: 768px) {
  .shuttles-page-container {
    padding: 40px 20px 10px 20px;
  }
}
