@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');


.card-container{
    padding: 20px;
    .question {
        font-family: 'Aboreto', cursive;

        display: flex;
        align-items: center;
        gap: 10px;
        h2{
            line-height: 35px;
            font-size: 20px;
        }
        .toggle-arrow {
            cursor: pointer;
            .triangle-icon{
                height: 20px;
                width: 20px;
            }
          }
    }
    .answer{
        overflow: hidden;
        transition: height 0.3s ease;
        font-family: 'Diphylleia', serif;
        p{
            line-height: 40px;
            font-size:20px;
        }
    }
}


  
  .toggle-arrow.answer-open {
    /* Styles for the arrow when the answer is open */
    /* ... */
  }
  

  