.info-page-container {
  padding: 90px 90px 0 90px;
  color: #212A3E;
  background-size: cover;
}

.info-page-container h1 {
  font-family: 'Allura', cursive;
  font-size: 5em;
}

@media (max-width: 768px) {
  .info-page-container {
    padding: 80px 10px 0 10px;
  }
}
