@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.home{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    .home-content{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #c4a365;
        h1{
            font-size: 7em;
            font-weight: 200;
            margin-top: -10px;
            font-family: 'Allura', cursive;
            text-align: center;
        }
        .date{
            font-size: 2em;
            margin-top: -30px;
            font-family: 'Aboreto', cursive;
            font-weight: 200;
         }

    }

}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-in.active {
    opacity: 1;
  }
@media (max-width: 768px) {
    .home{
        .home-content{
            .home-mobile-heading{
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                height:26em;
                h1{
                    font-size: 5em;
                    margin: 0
                }
            }

        }
    }

}